.registration-form {
    width: 25rem;
    height: 12rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #777777;
    border: 0.1rem solid #aaaaaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    margin: 5%;
}

.register-button {
    margin: 12%;
    color: black;
    background-color: #eeeeee;
    border: 0.1rem solid black;
    font-weight: 500;
    font-size: 0.9rem;
    width: fit-content;
}