.App {
  text-align: left;
  padding: 0vh 6vh 6vh 6vh;
}

.App-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar {
  color: #ffffff;
  width: 100%;
  padding: 2vh;
  border: 0.2rem solid black;
  background-color: #3a4c56;
}

.nav-bar > * {
  color: #aaaaaa;
  padding: 2vh;
  text-decoration: none;
}

.nav-bar > *:hover {
  background-color: #770000;
}

.activeLink {
  background-color: #cc0000;
  color: #dddddd;
}